<div class="wrapper ">

  <header>

    <div class="header-top-area text-center text-md-left bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-5 ">
            <div class="header-call-action">
              <a href="https://www.gmail.com" target="_blank" class="text-white"> <i class="fa fa-envelope"></i>
                cristian.torres19@hotmail.com</a>
              <a href="https://web.whatsapp.com/%F0%9F%8C%90/es" target="_blank" class="text-white"> <i class="fa fa-phone">
                  +57 3022735255</i></a></div>
          </div>
          <div class="col-lg-6 col-md-7">
            <div class="header-top-right float-md-right float-none">
              <nav>
                <ul>
                  <li>
                    <div class="dropdown header-top-dropdown">
                      <a class="dropdown-toggle text-white" id="myaccount" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Mi Cuenta
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <div class="dropdown-menu bg-dark text-white " aria-labelledby="myaccount">
                        <a class="dropdown-item text-white" routerLink='Micuenta'>Mi Cuenta</a>
                        <a class="dropdown-item text-white" routerLink='Login'> Entrar</a>
                        <a class="dropdown-item text-white" routerLink='Signup'>Registrarse</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a routerLink='Micuenta' class="text-white">Favoritos</a>
                  </li>
                  <li>
                    <a routerLink='Micuenta' class="text-white">Carrito </a>
                  </li>
                  <li>
                    <a routerLink='Micuenta' class="text-white">CheckOut</a>
                  </li>
                  <li>
                    <a routerLink='/Header' class="text-white">Salir</a>
                  </li>
                </ul>
              </nav>

            </div>



          </div>
        </div>
      </div>
    </div>
    <!-- header top end -->

    <!-- header middle start -->

    <div class="header-middle-area header-middle-style-2 pt-20 pb-20 pb-md-0 pb-sm-0 bg-dark border">
      <div class="container-fluid">
        <div class="row align-items-center  bg-secundary ">
          <div class="col-lg-3  d-flex  ">

            <div class="brand-logo  flex-grow-1 ">
              <img src="assets/img/logo/cleiserlogo03.png" class="img-fluid max-width:100% height:auto rounded-circle animated shake"
                alt="brand logo">

            </div>
          </div>

          <div class="col-lg-9  ">
            <div class="header-middle-right">
              <div class="header-middle-shipping d-flex flex-column flex-md-row d-md-flex  flex-wrap m-2 p-2 justify-content-around bg-secundary ">
                <a routerLink="Signup">
                  <div class="single-block-shipping text-white">
                    <div class="shipping-icon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="shipping-content">
                      <h5 class=" text-white">Horario de Trabajo</h5>
                      <span class="d-none d-md-flex">Lun - Sab: 8:00Am - 6:00Pm</span>
                    </div>
                  </div> <!-- end single shipping -->
                </a>

                <a routerLink="Login">
                  <div class="single-block-shipping text-white  ">
                    <div class="shipping-icon">
                      <i class="fa fa-truck"></i>
                    </div>
                    <div class="shipping-content">
                      <h5 class=" text-white">Envio Gratis</h5>
                      <span class=" text-white d-none d-md-flex">despues de 400 mil pesos</span>
                    </div>
                  </div> <!-- end single shipping -->
                </a>
                <div class="single-block-shipping  text-white   ">
                  <div class="shipping-icon">
                    <i class="fa fa-money"></i>
                  </div>
                  <div class="shipping-content ">
                    <h5 class=" text-white">Gana Dinero</h5>
                    <span class=" text-white d-none d-md-flex">Por referido que se registre y bonus por compras</span>
                  </div>
                </div> <!-- end single shipping -->
              </div>
              <!-- search box and carrito -->
              <div class="header-middle-block border d-flex flex-row flex-nowrap">
                <!-- Barra de Busqueda-->
                <div class="header-middle-searchbox flex-shrink-1 ">
                  <input type="text" placeholder="Busca tus Productos...">
                  <button class="search-btn"><i class="fa fa-search"></i> </button>
                </div>
                <!-- Carrito y Pedido -->
                <div class="header-mini-cart w-25">
                  <div class="mini-cart-btn">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="cart-notification">2</span>
                  </div>
                  <div class="cart-total-price">
                    <span>total</span>
                    $50.00
                  </div>

                </div>





              </div>
              <!-- search box and carrito -->

            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- header middle end -->

    <!-- main menu area start -->
    <div class="main-header-wrapper bdr-bottom1 bg-dark">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-header-inner">
              <div class="category-toggle-wrap">
                <div class="category-toggle">
                  category
                  <div class="cat-icon">
                    <i class="fa fa-angle-down"></i>
                  </div>
                </div>
                <nav class="category-menu hm-1 bg-dark ">
                  <ul class="text-white">
                    <li class="text-white"><a class="text-white" href="shop-grid-left-sidebar.html"><i class="fa fa-desktop"></i>
                        computer</a></li>
                    <li class="menu-item-has-children"><a class="text-white" href="shop-grid-left-sidebar.html"><i
                          class="fa fa-camera"></i> camera</a>
                      <!-- Mega Category Menu Start -->
                      <ul class="category-mega-menu bg-dark">
                        <li class="menu-item-has-childre text-whiten">
                          <a class="text-white" href="shop-grid-left-sidebar.html">Smartphone</a>
                          <ul>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Samsome</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">GL Stylus</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Uawei</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Cherry Berry</a></li>
                          </ul>
                        </li>
                        <li class="menu-item-has-children">
                          <a class="text-white" href="shop-grid-left-sidebar.html">headphone</a>
                          <ul>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Desktop Headphone</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Mobile Headphone</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Wireless
                                Headphone</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">LED Headphone</a></li>
                          </ul>
                        </li>
                        <li class="menu-item-has-children">
                          <a class="text-white" href="shop-grid-left-sidebar.html">accessories</a>
                          <ul>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Power Bank</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Data Cable</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Power Cable</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Battery</a></li>
                          </ul>
                        </li>
                        <li class="menu-item-has-children">
                          <a class="text-white" href="shop-grid-left-sidebar.html">headphone</a>
                          <ul>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Desktop Headphone</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Mobile Headphone</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Wireless
                                Headphone</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">LED Headphone</a></li>
                          </ul>
                        </li>
                      </ul><!-- Mega Category Menu End -->
                    </li>
                    <li class="menu-item-has-children"><a class="text-white" href="shop-grid-left-sidebar.html"><i
                          class="fa fa-book"></i> smart phones</a>
                      <!-- Mega Category Menu Start -->
                      <ul class="category-mega-menu bg-dark">
                        <li class="menu-item-has-children text-white">
                          <a class="text-white" href="shop-grid-left-sidebar.html">Smartphone</a>
                          <ul>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Samsome</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">GL Stylus</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Uawei</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Cherry Berry</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">uPhone</a></li>
                          </ul>
                        </li>
                        <li class="menu-item-has-children">
                          <a class="text-white" href="shop-grid-left-sidebar.html">headphone</a>
                          <ul class="text-white">
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Desktop Headphone</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Mobile Headphone</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Wireless
                                Headphone</a></li>
                            <li><a class="text-white" style="color:white" href="shop-grid-left-sidebar.html">LED
                                Headphone</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Over-ear</a></li>
                          </ul>
                        </li>
                        <li class="menu-item-has-children">
                          <a class="text-white" href="shop-grid-left-sidebar.html">accessories</a>
                          <ul>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Power Bank</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Data Cable</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Power Cable</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Battery</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">OTG Cable</a></li>
                          </ul>
                        </li>
                        <li class="menu-item-has-children">
                          <a class="text-white" href="shop-grid-left-sidebar.html">accessories</a>
                          <ul>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Power Bank</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Data Cable</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Power Cable</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">Battery</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">OTG Cable</a></li>
                          </ul>
                        </li>
                      </ul><!-- Mega Category Menu End -->
                    </li>
                    <li><a class="text-white" href="shop-grid-left-sidebar.html"><i class="fa fa-clock-o"></i>
                        watch</a></li>
                    <li><a class="text-white" href="shop-grid-left-sidebar.html"><i class="fa fa-television"></i>
                        electronic</a></li>
                    <li><a class="text-white" href="shop-grid-left-sidebar.html"><i class="fa fa-tablet"></i>
                        tablet</a></li>
                    <li><a class="text-white" href="shop-grid-left-sidebar.html"><i class="fa fa-book"></i> books</a></li>
                    <li><a class="text-white" href="shop-grid-left-sidebar.html"><i class="fa fa-microchip"></i>
                        microchip</a></li>
                    <li><a class="text-white" href="shop-grid-left-sidebar.html"><i class="fa fa-bullhorn"></i>
                        bullhorn</a></li>
                  </ul>
                </nav>
              </div>
              <div class="main-menu">
                <nav id="mobile-menu">
                  <ul>
                    <li class="active"><a href="#"><i class="fa fa-home text-white"></i>Home <i class="fa fa-angle-down"></i></a>
                      <ul class="dropdown bg-dark">
                        <li><a class="text-white" href="index.html">Home version 01</a></li>
                        <li><a class="text-white" href="index-2.html">Home version 02</a></li>
                        <li><a class="text-white" href="index-3.html">Home version 03</a></li>
                        <li><a class="text-white" href="index-4.html">Home version 04</a></li>
                      </ul>
                    </li>
                    <li class="static"><a class="text-white" href="#">pages <i class="fa fa-angle-down"></i></a>
                      <ul class="megamenu dropdown bg-dark">
                        <li class="mega-title"><a href="#">column 01</a>
                          <ul>
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">shop grid left
                                sidebar</a></li>
                            <li><a class="text-white" href="shop-grid-right-sidebar.html">shop grid right
                                sidebar</a></li>
                            <li><a class="text-white" href="shop-grid-full-3-col.html">shop grid full 3
                                column</a></li>
                            <li><a class="text-white" href="shop-grid-full-4-col.html">shop grid full 4
                                column</a></li>
                          </ul>
                        </li>
                        <li class="mega-title"><a href="#">column 02</a>
                          <ul>
                            <li><a class="text-white" href="product-details.html">product details</a></li>
                            <li><a class="text-white" href="product-details-affiliate.html">product
                                details
                                affiliate</a></li>
                            <li><a class="text-white" href="product-details-variable.html">product details
                                variable</a></li>
                            <li><a class="text-white" href="product-details-group.html">product details
                                group</a></li>
                          </ul>
                        </li>
                        <li class="mega-title"><a href="#">column 03</a>
                          <ul>
                            <li><a class="text-white" href="cart.html">cart</a></li>
                            <li><a class="text-white" href="checkout.html">checkout</a></li>
                            <li><a class="text-white" href="compare.html">compare</a></li>
                            <li><a class="text-white" href="wishlist.html">wishlist</a></li>
                          </ul>
                        </li>
                        <li class="mega-title"><a href="#">column 04</a>
                          <ul>
                            <li><a class="text-white" href="my-account.html">my-account</a></li>
                            <li><a class="text-white" href="login-register.html">login-register</a></li>
                            <li><a class="text-white" href="about-us.html">about us</a></li>
                            <li><a class="text-white" href="contact-us.html">contact us</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a class="text-white" href="#">shop <i class="fa fa-angle-down"></i></a>
                      <ul class="dropdown bg-dark">
                        <li><a class="text-white" href="#">shop grid layout <i class="fa fa-angle-right"></i></a>
                          <ul class="dropdown">
                            <li><a class="text-white" href="shop-grid-left-sidebar.html">shop grid left
                                sidebar</a></li>
                            <li><a class="text-white" href="shop-grid-left-sidebar-3-col.html">left
                                sidebar 3 col</a></li>
                            <li><a class="text-white" href="shop-grid-right-sidebar.html">shop grid right
                                sidebar</a></li>
                            <li><a class="text-white" href="shop-grid-right-sidebar-3-col.html">grid right
                                sidebar 3 col</a></li>
                            <li><a class="text-white" href="shop-grid-full-3-col.html">shop grid full 3
                                column</a></li>
                            <li><a class="text-white" href="shop-grid-full-4-col.html">shop grid full 4
                                column</a></li>
                          </ul>
                        </li>
                        <li><a class="text-white" href="#">shop list layout <i class="fa fa-angle-right"></i></a>
                          <ul class="dropdown">
                            <li><a class="text-white" href="shop-list-left-sidebar.html">shop list left
                                sidebar</a></li>
                            <li><a class="text-white" href="shop-list-right-sidebar.html">shop list right
                                sidebar</a></li>
                            <li><a class="text-white" href="shop-list-full.html">shop list full width</a></li>
                          </ul>
                        </li>
                        <li><a class="text-white" href="#">products details <i class="fa fa-angle-right"></i></a>
                          <ul class="dropdown">
                            <li><a class="text-white" href="product-details.html">product details</a></li>
                            <li><a class="text-white" href="product-details-affiliate.html">product
                                details
                                affiliate</a></li>
                            <li><a class="text-white" href="product-details-variable.html">product details
                                variable</a></li>
                            <li><a class="text-white" href="product-details-group.html">product details
                                group</a></li>
                            <li><a class="text-white" href="product-details-box.html">product details box
                                slider</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a class="text-white" href="#">Blog <i class="fa fa-angle-down"></i></a>
                      <ul class="dropdown bg-dark">
                        <li><a class="text-white" href="blog-left-sidebar.html">blog left sidebar</a></li>
                        <li><a class="text-white" href="blog-left-sidebar-2-col.html">blog left sidebar 2 col</a></li>
                        <li><a class="text-white" href="blog-right-sidebar.html">blog right sidebar</a></li>
                        <li><a class="text-white" href="blog-full-2-column.html">blog full 2 column</a></li>
                        <li><a class="text-white" href="blog-full-3-column.html">blog full 3 column</a></li>
                        <li><a class="text-white" href="blog-details.html">blog details</a></li>
                        <li><a class="text-white" href="blog-details-audio.html">blog details audio</a></li>
                        <li><a class="text-white" href="blog-details-video.html">blog details video</a></li>
                        <li><a class="text-white" href="blog-details-image.html">blog details image</a></li>
                      </ul>
                    </li>
                    <li><a class="text-white" href="contact-us.html">Contact us</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-12 d-block d-lg-none">
            <div class="mobile-menu"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- main menu area end -->
  </header>
  <!-- slider -->
  <!--  <app-slider></app-slider> -->
  <!-- fin slider -->
</div>
