<div>
    <div>
    <div>
    <div>Acerca de Cleiser</div>
    <dl>
    <dd><a href="/sp/historia">&iquest;Qui&eacute;nes Somos?</a></dd>
    <dd><a href="/sp/responsabilidad-social">Responsabilidad Social</a></dd>
    <dd><a href="/sp/terminos">T&eacute;rminos de Uso</a></dd>
    <dd><a href="/sp/propiedad-intelectual">Protecci&oacute;n de Propiedad Intelectual</a></dd>
    <dd><a href="/sp/ventascorporativas">Ventas Corporativas</a></dd>
    <dd><a href="/sp/loyaltyprograms">Programas de Lealtad</a></dd>
    <dd><a href="/sp/afiliados">Vu&eacute;lvete un Afiliado</a></dd>
    <dd><a href="/directorio">Directorio</a></dd>
    <dd><a href="/account/login">Login</a></dd>
    <dd><a href="/sp/beneficios">Beneficios</a></dd>
    <dd><a href="/sp/glosario-a">Glosario</a></dd>
    <dd><a href="https://www.cleiser.com/">Trabaje con nosotros</a></dd>
    <dd><a href="/sp/linio-grupo-falabella">Cleiser Business Group SAS</a></dd>
    </dl>
    </div>
    <div>
    <div>Servicio al cliente</div>
    <dl>
    <dd><a href="/sp/preguntas-frecuentes">Preguntas Frecuentes</a></dd>
    <dd><a href="/cm/tus-compras-seguras">Haz tu primera compra en Cleiser</a></dd>
    <dd><a href="/sp/preguntas-frecuentes">Contacto</a></dd>
    <dd><a href="/sp/privacidad">Aviso de Privacidad</a></dd>
    <dd><a href="/sp/terminos">T&eacute;rminos y Condiciones</a></dd>
    <dd><a href="/sp/politicas-productos-internacionales">Pol&iacute;tica de venta de productos internacionales</a></dd>
    <dd><a href="/sp/legales">Legales</a></dd>
    <dd><a href="/account/support/contact">Notificaciones judiciales, cont&aacute;ctanos dando click aqu&iacute;</a></dd>
    <dd><a href="http://www.sic.gov.co">www.sic.gov.co</a></dd>
    </dl>
    </div>
    <div>
    <div>Cleiser latinoam&eacute;rica</div>
    <div>
    <dl>
    <dd><a href="https://www.cleiser.com.ar">Argentina</a></dd>
    <dd><a href="https://www.cleiser.com.co">Colombia</a></dd>
    <dd><a href="https://www.cleiser.cl">Chile</a></dd>
    <dd><a href="https://www.cleiser.com.mx">M&eacute;xico</a></dd>
    </dl>
    <dl>
    <dd><a href="https://www.cleiser.com.pe">Per&uacute;</a></dd>
    <dd><a href="https://www.cleiser.com.ve">Venezuela</a></dd>
    <dd><a href="https://www.cleiser.com.ec">Ecuador</a></dd>
    <dd><a href="https://www.cleiser.com.pa">Panam&aacute;</a></dd>
    </dl>
    </div>
    <div>
    <div>Novedades</div>
    <dl>
    <dd><a href="/cm/regreso-a-clases">Regreso a Clases</a></dd>
    <dd><a href="/cm/san-valentin">San Valentin</a></dd>
    <dd><a href="/cm/lanzamiento-iphone">Lanzamiento iPhone Xs, Xs Max y XR</a></dd>
    <dd><a href="http://blog.cleiser.com.co/">Blog Linio</a></dd>
    <dd><a href="/sp/dias-festivos-colombia">Calendario D&iacute;as Festivos</a></dd>
    <dd><a href="/sp/lifemiles">LifeMiles</a></dd>
    <dd><a href="/sp/price-index">Price Index</a></dd>
    </dl>
    </div>
    <div>
    <div>
    <div>S&iacute;guenos</div>
    <div><a href="https://www.facebook.com/QueNadaTeControle/"></a><a href="https://twitter.com/CleiserGroup/"></a><a href="http://www.youtube.com/Cleiser Oficial/"></a></div>
    </div>
    <div>
    <div>&copy; 2019 Cleiser Business Group S.A.S| Todos los derechos reservados.</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <p>Una colecci&oacute;n de grandes <a href="https://html-css-js.com/">HTML en l&iacute;nea, CSS y herramientas JS</a> y los recursos se pueden encontrar en html-css-js.com : code beautifier, cheat sheet, generadores de estilo, enlaces &uacute;tiles y mucho m&aacute;s.</p>